@model MVC.CMS.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        @if(Model.Cities.Count > 0) {
            <dt>Cities:</dt>
            <dd>
            @foreach (var item in Model.Cities) {
                <span>@item.CityName</span>
            }
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
